<!DOCTYPE html>
<html>
<head>
    <title>Quotes</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="header">Quotes Database</div>
    <div class="quote-container">
        <div class="quote-what">{{ quote.what | safe }}</div>
        <span class="quote-who"> -- {{ quote.who | safe }}</span>
        <span class="quote-when">(<time>{{quote.when}}</time>)</span>
        <div class="quote-why">Context: {{ quote.why | safe }}</div>
    </div>

    <div class="form-container">
        <h2>Add a New Quote</h2>
        <form action="/" method="POST">
            <div class="form-group">
                <label for="what">Quote Text*:</label>
                <textarea id="what" name="what" required></textarea>
            </div>
            <div class="form-group">
                <label for="when">When* (ISO8601):</label>
                <input type="datetime-local" id="when" name="when" required>
            </div>
            <div class="form-group">
                <label for="who">Who* (URI):</label>
                <input type="url" id="who" name="who" placeholder="https://" required>
            </div>
            <div class="form-group">
                <label for="where">Where* (URI):</label>
                <input type="url" id="where" name="where" placeholder="https://" required>
            </div>
            <div class="form-group">
                <label for="why">Why* (Context):</label>
                <input type="text" id="why" name="why" required>
            </div>
            <button type="submit">Add Quote</button>
        </form>
    </div>

{% include 'footer.j2' %}
</body>
</html>
